<div class="container">
  <a href="/">View all Categories</a>
  <a href="/categories/<%= @category_id %>">View all Posting</a>
  <h3>Edit Posting:</h3>
  <form action='/posts/<%= @post.id %>/edit' method='post'>
    <input type='text' placeholder='Title' name='title' value='<%= @post.title %>'>
    <input type='number' placeholder='Price' name='price' value='<%= @post.price %>'>
    <textarea rows='4' cols='50' name='description' placeholder='Description'><%= @post.description %></textarea>
    <input type='text' placeholder='Location' name='location' value='<%= @post.location %>'>
    <input type='email' placeholder='Email' name='email' value='<%= @post.email %>'>
    <input type='submit' value='Edit Post'>
  </form>

  <form action='/posts/<%= @post.id %>/delete' method='post'>
    <input type='submit' value='Delete Post'>
  </form>

</div>
