<div class="container">
  <a href="/">View all Categories</a>
  <a href="/posts/<%= @post.id %>/edit">Edit Posting</a>

  <p>Title: <%= @post.title %></p>
  <p>Price: <%= @post.price %></p>
  <p>Description: <%= @post.description %></p>
  <p>Location: <%= @post.location %></p>
  <p>Email: <%= @post.email %></p>

</div>
